UPSTREAM_API_BASE=agent-endpoint
NEXT_PUBLIC_UPSTREAM_AUTH_API_BASE=auth-endpoint
NODE_ENV=development

# Authentication credentials for Microsoft OAuth
NEXT_PUBLIC_CLIENT_ID=your-microsoft-client-id
NEXT_PUBLIC_TENANT_ID=your-microsoft-tenant-id
NEXT_PUBLIC_REDIRECT_URI=your-redirect-uri

# Production redirect URI
NEXT_PUBLIC_REDIRECT_URI_PROD=your-production-redirect-uri

# Authentication credentials for Google OAuth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id
NEXT_PUBLIC_GOOGLE_REDIRECT_URI_FE_DEV=your-dev-redirect-uri
NEXT_PUBLIC_GOOGLE_REDIRECT_URI_FE_PROD=your-prod-redirect-uri
